.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.footer-main {
  display: flex;
  padding: 50px 50px 0 50px;
  height: auto;
}
.footer-section {
  display: flex;
  width: 400px;

  flex-wrap: wrap;
  flex: 2.5;
}
.footer-logo {
  flex: 1;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.footer-subsection {
  margin-right: 200px;
  height: 250px;
}
.footer-subsection-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}
.copyright {
  color: gray;
  opacity: 70%;
}
.footer-subsection-content {
  list-style: none;
  display: flex;
  color: gray;
  flex-direction: column;
  height: 140px;
}
.footer-subsection-content li {
  margin-bottom: 18px;
}
.footer-last {
  padding: 30px 200px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials ul {
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.footer-socials-logo {
  margin-right: 10px;
  color: gray;
  cursor: pointer;
  font-size: 20px;
  opacity: 70%;
}
