* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.btn {
  padding: 6px 16px;
  color: #6e44ff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-right: 16px;
  font-weight: 500;
}
.signup {
  background-color: #6e44ff;
  color: white;
}
.main {
  background-color: #f4f1ff;
  padding: 50px 200px 100px 200px;
  /* margin-bottom: 50px; */
}
.cards {
  padding-top: 40px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search {
  position: relative;
  height: 200px;
}
.search-title {
  font-size: 40px;
  font-weight: 600;
}
.search-filters {
  border-radius: 5px;
  margin-top: 20px;
  height: 100px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.filter {
  height: 100%;
  flex: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid lightgrey;
}
.filter-label {
  color: grey;
}
.filter:last-of-type {
  border: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  padding: 10px 22px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-weight: 500;
  margin-left: 32px;
  background-color: #6e44ff;
  color: white;
}
.calendar {
  background-color: white;
  font-weight: 600;
  text-align: center;
  outline: none;
}
.calendar::placeholder {
  color: black;
}
.search-bar {
  position: absolute;
  top: 12px;
  padding: 6px 14px;
  right: 20px;
  border-radius: 3px;
}

.filter-input {
  width: 60%;
  font-weight: 500;
  color: black;
  outline: none;
  text-align: center;
}
.filter-input::placeholder {
  font-weight: 500;
  color: black;
}
.filter-input option {
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 60%;
  margin: auto;
}
.page-label {
  border-radius: 50%;
  padding: 5px 12px;
}
.active-page {
  background-color: #3616a7;
  color: white;
  margin: 0 10px;
}

.estatery {
  color: #6e44ff;
}
.filter-price-slider {
  transform: translateY(-15px) !important;
  /* padding-top: -5px !important; */
  box-shadow: none !important;
  width: 70%;
  border: none !important;
  /* box-shadow: none; */
}
.thumb .min-caption {
  background-color: #6e44ff !important;
  /* width: 10px !important;
  height: 10px !important; */
}
